@use "mixin" as *;
@use "css-variables" as *;

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw; 
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to right, $primary, $secondary, $primary);
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-areas:
        "nav-area1" 
        "nav-area2" 
        "header-area" 
        "main-area" 
        "footer-area";
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: repeat(5, auto);

    .to-top {
        position: fixed;
        top: 90%;
        right: 50px;
        z-index: 100;
        padding: 10px;
        border: none;
        border-radius: 50%;
        background-color: #F1CA8C;
        background-image: linear-gradient(to right, $lightBgBlur, $darkBgBlur);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        .fa-chevron-up {
            display: inline-block;
            background-size: contain;    
            background-repeat: no-repeat;
            background-position: center;
            vertical-align: middle;    
            background-image: url(../webfonts/angle-up-solid-full.svg);
            filter: brightness(0) saturate(100%) invert(22%) sepia(43%) saturate(383%) hue-rotate(346deg) brightness(94%) contrast(93%);
            width: 30px;
            height: 30px;
        }
    }

    .to-top:hover {
        cursor: pointer;
        transform: scale(0.9); 
        box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.363);
        transition: 300ms ease;
    }

    div.first-nav {
        grid-area: nav-area1;
        background-image: linear-gradient(to right, $primary, $secondary, $primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 100%;
        height: 140px;
        position: relative;
        top: 0;
        left: 0;
        z-index: 100;

        .contact-info {
            display: flex;
            gap: 5px;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 100%;
            padding: 0;
            margin-left: 0;

            li {
                list-style-type: none;
                @include text ();
                font-size: 0.9rem;
                cursor: pointer;
            }

            li:first-of-type {
                border-right: none;
                padding-right: 5px;
            }
        }

        .brands-icons {
            display: flex;
            justify-content: space-around;
            gap: 10px;
            margin: 10px 0;

            i {
                display: inline-block;
                width: 24px;                 
                height: 24px;
                background-size: contain;    
                background-repeat: no-repeat;
                background-position: center;
                vertical-align: middle;      
                margin: 0 5px;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                filter: brightness(0) saturate(100%) invert(0%) sepia(98%) saturate(7%) hue-rotate(319deg) brightness(92%) contrast(98%);
            }

            .fa-facebook {
                background-image: url(../webfonts/facebook-brands-solid-full.svg);
            }

            .fa-pinterest {
                background-image: url(../webfonts/pinterest-brands-solid-full.svg);
            }

            .fa-square-instagram {
                background-image: url(../webfonts/square-instagram-brands-solid-full.svg);
            }

            .fa-facebook:hover {
                filter: brightness(0) saturate(100%) invert(35%) sepia(83%) saturate(3403%) hue-rotate(203deg) brightness(100%) contrast(90%);
            }

            .fa-pinterest:hover {
                filter: brightness(0) saturate(100%) invert(16%) sepia(49%) saturate(7317%) hue-rotate(350deg) brightness(85%) contrast(88%);
            }

            .fa-square-instagram:hover {
                filter: brightness(0) saturate(100%) invert(36%) sepia(78%) saturate(3177%) hue-rotate(317deg) brightness(101%) contrast(101%);
            }
        }
    }

    nav {
        grid-area: nav-area2;
        background-image: linear-gradient(to right, $primary, $secondary, $primary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1000;

        .logo-container-1 {
            margin-left: 20px;
            width: 65px;
            height: 65px;
            cursor: pointer;
    
            img {
                height: 100%;
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
        }

        .main-menu {
            display: none;
        }
    
        .hamburger-menu {
            background: none;
            border: none;
            display: block;
            margin-right: 20px;

            .fa-bars,
            .fa-times {
                width: 30px;                 
                height: 30px;
                background-size: contain;    
                background-repeat: no-repeat;
                background-position: center;
                vertical-align: middle;      
                margin: 0 5px;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                filter: brightness(0) saturate(100%) invert(0%) sepia(98%) saturate(7%) hue-rotate(319deg) brightness(92%) contrast(98%);
            }

            .fa-bars {
                background-image: url(../webfonts/bars-solid-full.svg);
                display: inline-block;
            }
                    
            .fa-times {
                background-image: url(../webfonts/xmark-solid-full.svg);
                display: none;
            }

            .fa-bars:hover, .fa-times:hover {
                cursor: pointer;
            }
        }

        .hamburger-menu.open .fa-bars {
            display: none;
        }
                
        .hamburger-menu.open .fa-times {
            display: block;
        }

        .hamburger-main-menu {
            padding: 0;
            margin: 0;
            position: absolute;
            top: 65px;
            left: 0;
            width: 100%;
            display: none;
            background-color: #4e3b2b67;
            backdrop-filter: blur(5px);
                
            li {
                text-align: start;
                position: relative;
                padding-left: 20px;
            }

            li a {
                @include nav();
                font-size: 0.9rem;
                display: block;
                padding: 10px;

                .fa-chevron-down {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background-image: url(../webfonts/chevron-down-solid-full.svg);
                    background-size: contain;    
                    background-repeat: no-repeat;
                    background-position: center;
                    vertical-align: middle;      
                    filter: brightness(0) saturate(100%) invert(0%) sepia(98%) saturate(7%) hue-rotate(319deg) brightness(92%) contrast(98%);
                    padding-left: 10px;
                }
            }

            > li:hover > a {
                color: bisque;
                transition: all 0.2s ease-in-out;

                .fa-chevron-down {
                    filter: brightness(0) saturate(100%) invert(83%) sepia(35%) saturate(298%) hue-rotate(332deg) brightness(104%) contrast(104%);
                    transition: all 0.2s ease-in-out;
                }
            }
    
            .hamburger-submenu {
                position: absolute;
                top: 0;
                left: 50%;
                z-index: 100;
                width: auto;
                display: none;

                > li:hover > a {
                    color: bisque;
                    transition: all 0.2s ease-in-out;
                }
            }

                .fa-chevron-down {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background-image: url(../webfonts/chevron-down-solid-full.svg);
                    background-size: contain;    
                    background-repeat: no-repeat;
                    background-position: center;
                    vertical-align: middle;      
                    filter: brightness(0) saturate(100%) invert(0%) sepia(98%) saturate(7%) hue-rotate(319deg) brightness(92%) contrast(98%);
                    padding-left: 10px;
                }
        }

        .hamburger-main-menu.open {
            display: block;
        }
    }

    .modal {
        background-color: #d2ad79;
        position: fixed;
        z-index: 100000;
        bottom: 0;
        width: calc(100% - 20px); 
        left: 10px; 
        right: 10px;
        padding: 20px;
        @include text ();

        .btns {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btn.accept {
                border: 2px solid $darkBg;
                border-radius: 20px; 
            }

            button {
                padding: 0.7em;
                @include text ();
                background-color: #d2ad79;
                border: none;
                border-radius: 20px;
                cursor: pointer;
            }

            button:hover {
                background-color: $darkBg;
                color: $primary;
            }
        }
    }

    footer {
        grid-area: footer-area;
        background-color: $lightBg;
        display: grid;

        .footer-top {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 30px 0;

            .bottom-logo-container {
                width: 100px;
                height: 80px;
                justify-self: center;
                align-self: center;
                cursor: pointer;

                img {
                    width: 100%;
                }
            }

            .footer-navigation {
                justify-self: center;
                align-self: flex-start;

                h4 {
                    @include titles ();
                    text-align: start;
                    font-size: 16px;
                }
        
                ul {
                    list-style-type: none;
                    padding: 0;
        
                    li {
                        @include text (); 
                        padding: 10px;
                    }
                }

                .brands-icons {
                    display: flex;
                    justify-content: space-around;

                    i {
                        display: inline-block;
                        width: 40px;                 
                        height: 40px;
                        background-size: contain;    
                        background-repeat: no-repeat;
                        background-position: center;
                        vertical-align: middle;    
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                        filter: brightness(0) saturate(100%) invert(0%) sepia(98%) saturate(7%) hue-rotate(319deg) brightness(92%) contrast(98%);
                    }

                    .fa-facebook {
                        background-image: url(../webfonts/facebook-brands-solid-full.svg);
                    }
                    .fa-pinterest {
                        background-image: url(../webfonts/pinterest-brands-solid-full.svg);
                    }
                    .fa-square-instagram {
                        background-image: url(../webfonts/square-instagram-brands-solid-full.svg);
                    }
        
                    .fa-facebook:hover {
                        filter: brightness(0) saturate(100%) invert(35%) sepia(83%) saturate(3403%) hue-rotate(203deg) brightness(100%) contrast(90%);
                    }

                    .fa-pinterest:hover {
                        filter: brightness(0) saturate(100%) invert(16%) sepia(49%) saturate(7317%) hue-rotate(350deg) brightness(85%) contrast(88%);
                    }

                    .fa-square-instagram:hover {
                        filter: brightness(0) saturate(100%) invert(36%) sepia(78%) saturate(3177%) hue-rotate(317deg) brightness(101%) contrast(101%);
                    }
                }
            }

            .footer-navigation:hover {
                
                cursor: pointer;
            }
        }

        .map {
            background-color: $lightBg;

            iframe {
                max-width: 100%;
                width: 100%;
                height: 250px;
                border: none;
            }
        }

        .footer-bottom {
            background-color: $darkBg;
            background-image: linear-gradient(to right, $primary, $secondary, $primary);
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                @include text ();
                font-size: 15px;
            }
        }
    }
}

@media screen and (min-width:576px) {
    body {
        grid-template-rows: 50px 60px auto auto auto;

        div.first-nav {
        grid-area: nav-area1;
        height: 70px;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
        align-items: center;

        .contact-info {
            flex-direction: row;
            gap: 10px;
            padding: 0;
            margin-left: 20px;

            li:first-of-type {
                border-right: 1px solid #4e3b2b;
                padding-right: 10px;
            }
        }

        .brands-icons {
            display: flex;
            justify-content: space-around;
            gap: 10px;
            margin-right: 20px;

                .fa-brands {
                    font-size: 1.5rem;
                }
            }
        }

        nav {
            grid-area: nav-area2;

            .logo-container-1 {
                width: 60px;
                height: 60px;
    
                img {
                    height: 100%;
                }
            }

            .hamburger-main-menu {
                top: 60px;

                li {
                    text-align: center;
                }

                a {
                    font-size: 1rem;
                }

                .hamburger-submenu {
                    left: 60%;
                }
            }

        footer {
            grid-area: footer-area;

            .footer-top {
                grid-template-columns: 1fr;
    
                .bottom-logo-container {
                    width: 150px;
                    height: 130px;

                    img {
                        width: 100%;
                    }
                }

                .footer-navigation:hover {

                    cursor: pointer;
                }
            }
        }
    }    
}

@media screen and (min-width:768px) {
    body {
        grid: 
        "nav-area1" 50px
        "nav-area2" 70px
        "header-area" auto
        "main-area" auto
        "footer-area" auto
        / 100%
        ;

        nav {
            grid-area: nav-area2;

            .logo-container-1 {
                width: 70px;
                height: 70px;
    
                img {
                    height: 100%;
                }
            }

            .hamburger-main-menu {
                top: 70px;

                li a {
                    font-size: 1rem;
                }
            }

        }
        
        footer {
            grid-area: footer-area;

            .footer-top {
                grid-template-columns: 1fr 1fr;
    
                .bottom-logo-container {
                    width: 200px;
                    height: 180px;
    
                    img {
                        width: 100%;
                    }
                }

                .footer-navigation:hover {

                    cursor: pointer;
                }
            }
        }
    }


    }    
}

@media screen and (min-width:992px) {
    body {
        grid: 
        "nav-area1" 50px
        "nav-area2" 80px
        "header-area" auto
        "main-area" auto
        "footer-area" auto
        / 100%
        ;

        nav {
            grid-area: nav-area2;

            .logo-container-1 {
                width: 80px;
                height: 80px;
    
                img {
                    height: 100%;
                }
            }

            .hamburger-main-menu {
                top: 80px;

                li a {
                    font-size: 1.2rem;
                }
            }
        }

        footer {
            grid-area: footer-area;
    
            .footer-top {
                grid-template-columns: 1fr 1fr;
    
                .bottom-logo-container {
                    width: 250px;
                    height: 230px;
    
                    img {
                        width: 100%;
                    }
                }
    
                .footer-navigation {
    
                    h4 {
                        font-size: 20px;
                    }
            
                    ul {
            
                        li {
                            font-size: 14px;
                        }
                    }
                }

                .footer-navigation:hover {

                    cursor: pointer;
                }
            }
    
            .footer-bottom {
    
                p {
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (min-width:1200px) {
    body {
        grid: 
        "nav-area1" 50px
        "nav-area2" 90px
        "header-area" auto
        "main-area" auto
        "footer-area" auto
        / 100%
        ;

        nav {
            grid-area: nav-area2;

            .logo-container {
                width: 90px;
                height: 90px;

                img {
                    height: 100%;
                }
            }

            .hamburger-main-menu {
                display: none;
            }

            .main-menu {
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 10px;
                position: relative;
                top: 0;
                left: 0;
                height: 90px;

                li {
                    display: flex;
                    position: relative;
                    height: 90px;

                    a {
                        @include nav();
                        display: block;
                        padding: 20px;
                        align-self: center;
                    }
                }

                > li:hover > a {
                    color: bisque;
                    transition: all 0.2s ease-in-out;
                }

                li:hover .submenu {
                    display: block;
                }

                .submenu {
                    margin: 0;
                    padding: 0;
                    display: none;
                    background-image: linear-gradient(to right, $primary, $secondary);
                    position: absolute;
                    top: 90px;
                    left: 0;
                    width: 100%;

                    li {
                        width: 100%;
                        text-align: center;
                        height: 60px;

                        a {
                            display: block;
                            padding: 10px;
                        }
                    }
                }

                .submenu li:hover a {
                    color: bisque;
                    transition: all 0.2s ease-in-out;
                }
            }

            .hamburger-menu {
                display: none;
            }
      
            .hamburger-main-menu {
                display: none;
            }
        }

        footer {
            grid-area: footer-area;
            display: grid;

            .footer-top {
                display: flex;
                justify-content: space-around;
                align-items: flex-start;
                justify-self: auto;
                padding: 30px 0;
   
                .bottom-logo-container {
                    width: 300px;
                    height: 280px;

                    img {
                        width: 100%;
                    }
                }

                .footer-navigation {

                    h4 {
                        font-size: 20px;
                    }
        
                    ul li {
                        font-size: 14px;
                    }
                }

                .footer-navigation:hover {

                    cursor: pointer;
                }
            }

            .footer-bottom {
                
                p {
                    font-size: 16px;
                }
            }
        }
    }
}