/* Admin dashboard stílusa */
@use "reset" as *;
@use "mixin" as *;
@use "css-variables" as *;

body {
    main {
        grid-area: main-area;
        background-color: $dark-bg;
        background-image: url("../images/dashboard.webp");
        display: flex;
        flex-direction: column;

        @include bg-img;

        nav.admin-sidebar {
            background-color: $light-bg !important;
            background-image: none !important; 
            z-index: 0;
            width: 100%; 
            height: 100%; 
            position: relative; 
            top: 0;
            left: 0;
            padding: 20px;
            display: flex;
            flex-direction: column; 
            justify-content: flex-start; 
            align-items: flex-start; 
        
            .admin-nav {
                list-style: none;
                padding: 0;
                margin: 0;
                
                li {
                    margin-bottom: 15px;
        
                    a {
                        text-decoration: none;
                        font-size: 16px;

                        @include text;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .main-content {
            flex-grow: 1;
            padding: 30px;
            background-color: $light-bg-blur; 
            
            header {
                h1 {
                    @include main-title;      
                }

                h3 { 
                    font-size: 20px; 

                    @include main-title;
                }

                p {
                    @include text;  
                }
            }
            
            h2 {
                font-size: 20px;
                text-align: center;
                background-color: $light-bg-blur;
                border-radius: 20px;
                border: 1px solid $light-bg;

                @include main-title;
            }

            article {
                form {
                    font-size: 1rem;
                    max-width: 400px;
                    margin: 0 40px;
                    margin-bottom: 2em;
                    padding: 1em;
                    border-radius: 20px;

                    @include text;

                    input {
                        width: 100%;
                        padding: 0.5em;
                        margin: 0.5em 0;
                        box-sizing: border-box;
                        border-radius: 0.5rem;
                        border: none;
                    }
    
                    textarea {
                        width: 100%;
                        height: 150px;
                        padding: 0.5em;
                        margin: 0.5em 0;
                        resize: none;
                        border: none;
                        border-radius: 0.5rem;
                    }

                    .btn {
                        font-size: 1rem;
                        text-align: center;
                        background-color: $primary;
                        border: none;
                        border-radius: 20px;
                        cursor: pointer;
                        width: 100%;
                        padding: 0.7em;
                        margin-top: 0.7em;

                        @include text;
                    }

                    .btn:hover {
                        background-color: $secondary;
                        color: $primary;
                    }

                    .hover-effect {
                        transition: transform 0.5s ease; 
                    }
                    
                    .hover-effect:hover {
                        transform: scale(0.9); 
                        box-shadow: 8px 8px 15px rgb(0 0 0 / 48.4%);
                    }
                }

                ul {
                    list-style: none;
                    padding: 0;
            
                    li {
                        margin-bottom: 10px;
            
                        a {
                            text-decoration: none;

                            @include text;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                a {
                    text-decoration: none;
                    font-size: 1rem;
                    text-align: center;

                    @include text;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media (width >= 576px) {
    body {
        main {
            grid-area: main-area;
        }
    }
}

@media (width >= 768px) {
    body {
        main {
            grid-area: main-area;
            flex-direction: row;

            nav.admin-sidebar {
                width: 220px;;
            }
        }
    }
}

@media (width >= 992px) {
    body {
        main {
            grid-area: main-area;
        }
    }
}

@media (width >= 1200px) {
    body {
        main {
            grid-area: main-area;
        }
    }
}