@charset "UTF-8";
/*Időpont foglalás és admin login stílusa*/
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to right, #F1CA8C, #935D38, #F1CA8C);
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-areas: "nav-area1" "nav-area2" "header-area" "main-area" "footer-area";
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: repeat(5, auto);
}
body .to-top {
  position: fixed;
  top: 90%;
  right: 50px;
  z-index: 100;
  padding: 10px;
  border: none;
  border-radius: 50%;
  background-color: #F1CA8C;
  background-image: linear-gradient(to right, rgba(240, 202, 150, 0.5333333333), rgba(181, 132, 86, 0.5843137255));
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
body .to-top .fa-chevron-up {
  color: #4e3b2b;
  font-size: 30px;
}
body .to-top:hover {
  cursor: pointer;
  transform: scale(0.9);
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.363);
  transition: 300ms ease;
}
body div.first-nav {
  grid-area: nav-area1;
  background-image: linear-gradient(to right, #F1CA8C, #935D38, #F1CA8C);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 140px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
}
body div.first-nav .contact-info {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0;
  margin-left: 0;
}
body div.first-nav .contact-info li {
  list-style-type: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  line-height: 2em;
  color: #4e3b2b;
  font-size: 16px;
  font-size: 0.9rem;
  cursor: pointer;
}
body div.first-nav .contact-info li:first-of-type {
  border-right: none;
  padding-right: 5px;
}
body div.first-nav .brands-icons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin: 10px 0;
}
body div.first-nav .brands-icons .fa-brands {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
body div.first-nav .brands-icons .fa-facebook:hover {
  color: #1877F2;
}
body div.first-nav .brands-icons .fa-pinterest:hover {
  color: #CB2027;
}
body div.first-nav .brands-icons .fa-square-instagram:hover {
  color: #FF3780;
}
body nav {
  grid-area: nav-area2;
  background-image: linear-gradient(to right, #F1CA8C, #935D38, #F1CA8C);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
body nav .logo-container-1 {
  margin-left: 20px;
  width: 65px;
  height: 65px;
  cursor: pointer;
}
body nav .logo-container-1 img {
  height: 100%;
}
body nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body nav a {
  text-decoration: none;
}
body nav .main-menu {
  display: none;
}
body nav .hamburger-menu {
  display: block;
  margin-right: 20px;
}
body nav .hamburger-menu .fa-bars {
  display: block;
  font-size: 28px;
}
body nav .hamburger-menu .fa-times {
  display: none;
}
body nav .hamburger-menu .fa-bars:hover, body nav .hamburger-menu .fa-times:hover {
  cursor: pointer;
}
body nav .hamburger-menu.open .fa-bars {
  display: none;
}
body nav .hamburger-menu.open .fa-times {
  display: block;
}
body nav .hamburger-main-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: none;
  background-color: rgba(78, 59, 43, 0.4039215686);
  backdrop-filter: blur(5px);
}
body nav .hamburger-main-menu li {
  text-align: start;
  position: relative;
  padding-left: 20px;
}
body nav .hamburger-main-menu li a {
  font-family: "Noto Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 18px;
  font-size: 0.9rem;
  display: block;
  padding: 10px;
}
body nav .hamburger-main-menu > li:hover > a {
  color: bisque;
  transition: all 0.2s ease-in-out;
}
body nav .hamburger-main-menu .hamburger-submenu {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 100;
  width: auto;
  display: none;
}
body nav .hamburger-main-menu .hamburger-submenu > li:hover > a {
  color: bisque;
  transition: all 0.2s ease-in-out;
}
body nav .hamburger-main-menu .fa-chevron-right {
  padding-left: 10px;
}
body nav .hamburger-main-menu.open {
  display: block;
}
body .modal {
  background-color: #d2ad79;
  position: fixed;
  z-index: 100000;
  bottom: 0;
  width: calc(100% - 20px);
  left: 10px;
  right: 10px;
  padding: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  line-height: 2em;
  color: #4e3b2b;
  font-size: 16px;
}
body .modal .btns {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .modal .btns .btn.accept {
  border: 2px solid #B58456;
  border-radius: 20px;
}
body .modal .btns button {
  padding: 0.7em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  line-height: 2em;
  color: #4e3b2b;
  font-size: 16px;
  background-color: #d2ad79;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
body .modal .btns button:hover {
  background-color: #B58456;
  color: #F1CA8C;
}
body footer {
  grid-area: footer-area;
  background-color: #F0CA96;
  display: grid;
}
body footer .footer-top {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 30px 0;
}
body footer .footer-top .bottom-logo-container {
  width: 100px;
  height: 80px;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}
body footer .footer-top .bottom-logo-container img {
  width: 100%;
}
body footer .footer-top .footer-navigation {
  justify-self: center;
  align-self: flex-start;
}
body footer .footer-top .footer-navigation h4 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  color: #4e3b2b;
  font-size: 18px;
  text-align: start;
  font-size: 16px;
}
body footer .footer-top .footer-navigation ul {
  list-style-type: none;
  padding: 0;
}
body footer .footer-top .footer-navigation ul li {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  line-height: 2em;
  color: #4e3b2b;
  font-size: 16px;
  padding: 10px;
}
body footer .footer-top .footer-navigation .brands-icons {
  display: flex;
  justify-content: space-around;
}
body footer .footer-top .footer-navigation .brands-icons .fa-brands {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
body footer .footer-top .footer-navigation .brands-icons .fa-facebook:hover {
  color: #1877F2;
}
body footer .footer-top .footer-navigation .brands-icons .fa-pinterest:hover {
  color: #CB2027;
}
body footer .footer-top .footer-navigation .brands-icons .fa-square-instagram:hover {
  color: #FF3780;
}
body footer .footer-top .footer-navigation:hover {
  cursor: pointer;
}
body footer .map {
  background-color: #F0CA96;
}
body footer .map iframe {
  max-width: 100%;
  width: 100%;
  height: 250px;
  border: none;
}
body footer .footer-bottom {
  background-color: #B58456;
  background-image: linear-gradient(to right, #F1CA8C, #935D38, #F1CA8C);
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer .footer-bottom p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  line-height: 2em;
  color: #4e3b2b;
  font-size: 16px;
  font-size: 15px;
}

@media screen and (min-width: 576px) {
  body {
    grid-template-rows: 50px 60px auto auto auto;
  }
  body div.first-nav {
    grid-area: nav-area1;
    height: 70px;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }
  body div.first-nav .contact-info {
    flex-direction: row;
    gap: 10px;
    padding: 0;
    margin-left: 20px;
  }
  body div.first-nav .contact-info li:first-of-type {
    border-right: 1px solid #4e3b2b;
    padding-right: 10px;
  }
  body div.first-nav .brands-icons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-right: 20px;
  }
  body div.first-nav .brands-icons .fa-brands {
    font-size: 1.5rem;
  }
  body nav {
    grid-area: nav-area2;
  }
  body nav .logo-container-1 {
    width: 60px;
    height: 60px;
  }
  body nav .logo-container-1 img {
    height: 100%;
  }
  body nav .hamburger-main-menu {
    top: 60px;
  }
  body nav .hamburger-main-menu li {
    text-align: center;
  }
  body nav .hamburger-main-menu a {
    font-size: 1rem;
  }
  body nav .hamburger-main-menu .hamburger-submenu {
    left: 60%;
  }
  body nav footer {
    grid-area: footer-area;
  }
  body nav footer .footer-top {
    grid-template-columns: 1fr;
  }
  body nav footer .footer-top .bottom-logo-container {
    width: 150px;
    height: 130px;
  }
  body nav footer .footer-top .bottom-logo-container img {
    width: 100%;
  }
  body nav footer .footer-top .footer-navigation:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 576px) and (min-width: 768px) {
  body {
    grid: "nav-area1" 50px "nav-area2" 70px "header-area" auto "main-area" auto "footer-area" auto/100%;
  }
  body nav {
    grid-area: nav-area2;
  }
  body nav .logo-container-1 {
    width: 70px;
    height: 70px;
  }
  body nav .logo-container-1 img {
    height: 100%;
  }
  body nav .hamburger-main-menu {
    top: 70px;
  }
  body nav .hamburger-main-menu li a {
    font-size: 1rem;
  }
  body footer {
    grid-area: footer-area;
  }
  body footer .footer-top {
    grid-template-columns: 1fr 1fr;
  }
  body footer .footer-top .bottom-logo-container {
    width: 200px;
    height: 180px;
  }
  body footer .footer-top .bottom-logo-container img {
    width: 100%;
  }
  body footer .footer-top .footer-navigation:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 992px) {
  body {
    grid: "nav-area1" 50px "nav-area2" 80px "header-area" auto "main-area" auto "footer-area" auto/100%;
  }
  body nav {
    grid-area: nav-area2;
  }
  body nav .logo-container-1 {
    width: 80px;
    height: 80px;
  }
  body nav .logo-container-1 img {
    height: 100%;
  }
  body nav .hamburger-main-menu {
    top: 80px;
  }
  body nav .hamburger-main-menu li a {
    font-size: 1.2rem;
  }
  body footer {
    grid-area: footer-area;
  }
  body footer .footer-top {
    grid-template-columns: 1fr 1fr;
  }
  body footer .footer-top .bottom-logo-container {
    width: 250px;
    height: 230px;
  }
  body footer .footer-top .bottom-logo-container img {
    width: 100%;
  }
  body footer .footer-top .footer-navigation h4 {
    font-size: 20px;
  }
  body footer .footer-top .footer-navigation ul li {
    font-size: 14px;
  }
  body footer .footer-top .footer-navigation:hover {
    cursor: pointer;
  }
  body footer .footer-bottom p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    grid: "nav-area1" 50px "nav-area2" 90px "header-area" auto "main-area" auto "footer-area" auto/100%;
  }
  body nav {
    grid-area: nav-area2;
  }
  body nav .logo-container {
    width: 90px;
    height: 90px;
  }
  body nav .logo-container img {
    height: 100%;
  }
  body nav .hamburger-main-menu {
    display: none;
  }
  body nav .main-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 0;
    left: 0;
    height: 90px;
  }
  body nav .main-menu li {
    display: flex;
    position: relative;
    height: 90px;
  }
  body nav .main-menu li a {
    font-family: "Noto Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 18px;
    display: block;
    padding: 20px;
    align-self: center;
  }
  body nav .main-menu > li:hover > a {
    color: bisque;
    transition: all 0.2s ease-in-out;
  }
  body nav .main-menu li:hover .submenu {
    display: block;
  }
  body nav .main-menu .submenu {
    margin: 0;
    padding: 0;
    display: none;
    background-image: linear-gradient(to right, #F1CA8C, #935D38);
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
  }
  body nav .main-menu .submenu li {
    width: 100%;
    text-align: center;
    height: 60px;
  }
  body nav .main-menu .submenu li a {
    display: block;
    padding: 10px;
  }
  body nav .main-menu .submenu li:hover a {
    color: bisque;
    transition: all 0.2s ease-in-out;
  }
  body nav .hamburger-menu {
    display: none;
  }
  body nav .hamburger-main-menu {
    display: none;
  }
  body footer {
    grid-area: footer-area;
    display: grid;
  }
  body footer .footer-top {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    justify-self: auto;
    padding: 30px 0;
  }
  body footer .footer-top .bottom-logo-container {
    width: 300px;
    height: 280px;
  }
  body footer .footer-top .bottom-logo-container img {
    width: 100%;
  }
  body footer .footer-top .footer-navigation h4 {
    font-size: 20px;
  }
  body footer .footer-top .footer-navigation ul li {
    font-size: 14px;
  }
  body footer .footer-top .footer-navigation:hover {
    cursor: pointer;
  }
  body footer .footer-bottom p {
    font-size: 16px;
  }
}
body main {
  grid-area: main-area;
  background-color: #B58456;
  background-image: url(../images/booking-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
}
body main header {
  margin: 0 40px;
  padding: 1em;
  max-width: 400px;
}
body main header h1 {
  font-family: "Noto Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: #4e3b2b;
  font-size: 24px;
  text-align: center;
  background-color: rgba(240, 202, 150, 0.5333333333);
  border-radius: 20px;
  border: 1px solid #F0CA96;
}
body main h3 {
  font-family: "Noto Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: #4e3b2b;
  font-size: 24px;
  font-size: 20px;
  text-align: center;
}
body main form {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  line-height: 2em;
  color: #4e3b2b;
  font-size: 16px;
  font-size: 1rem;
  max-width: 400px;
  margin: 0 40px;
  margin-bottom: 2em;
  padding: 1em;
  border: 1px solid #F0CA96;
  background-color: rgba(240, 202, 150, 0.5333333333);
  border-radius: 20px;
}
body main form .form-group {
  margin-bottom: 1em;
}
body main form .form-group label {
  display: block;
  margin-bottom: 0.5em;
}
body main form .form-group input {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: none;
}
body main form .form-group textarea {
  width: 100%;
  height: 150px;
  resize: none;
  border: none;
  border-radius: 0.5rem;
}
body main form .btn {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  line-height: 2em;
  color: #4e3b2b;
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
  background-color: #F1CA8C;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  padding: 0.7em;
}
body main .button {
  max-width: 400px;
  margin: 40px;
  padding: 0.7em;
  background-color: #F1CA8C;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .button a {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  line-height: 2em;
  color: #4e3b2b;
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
}
body main .hover-effect {
  transition: transform 0.5s ease;
}
body main .hover-effect:hover {
  transform: scale(0.9);
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.484);
}
body main .button:hover {
  background-color: rgba(181, 132, 86, 0.5843137255);
}
body main .button:hover a {
  color: #F1CA8C;
}
body main .btn:hover {
  background-color: #935D38;
  color: #F1CA8C;
}

@media screen and (min-width: 576px) {
  body main {
    grid-area: main-area;
  }
}
@media screen and (min-width: 768px) {
  body main {
    grid-area: main-area;
  }
}
@media screen and (min-width: 992px) {
  body main {
    grid-area: main-area;
  }
}
@media screen and (min-width: 1200px) {
  body main {
    grid-area: main-area;
  }
}/*# sourceMappingURL=styles4.css.map */