/* Időpont foglalás és admin login stílusa */
@use "reset" as *;
@use "mixin" as *;
@use "css-variables" as *;

body {
    main {
        grid-area: main-area;
        grid-template-columns: minmax(0, 1fr);
        background-color: $dark-bg;
        background-image: url("../images/booking-bg.webp");
        display: grid;
        place-content: center;
        place-items: center;
        gap: 20px;
        padding: 40px 0;

        @include bg-img;

        header, form, button.button {
            display: flex;
            width: min(100%, 300px);
            justify-self: center;
        }
        
        header {
            display: flex;
            height: 120px;
            align-items: center;
            
            h1 {
                text-align: center;
                background-color: $light-bg-blur;
                border-radius: 20px;
                border: 1px solid $light-bg;
                padding: 0.5rem;
                width: 100%;

                @include main-title;
            }
        }

        h3 {
            font-size: 20px;
            text-align: center;

            @include main-title;
        }

        form {
            font-size: 1rem;
            padding: 1em;
            border: 1px solid $light-bg;
            background-color: $light-bg-blur;
            border-radius: 20px;
            align-self: center;
            flex-direction: column;

            @include text;

            .form-group {
                margin-bottom: 1em;

                label {
                    display: block;
                    margin-bottom: 0.5em;
                }

                input {
                    width: 100%;
                    padding: 0.5em;
                    box-sizing: border-box;
                    border-radius: 0.5rem;
                    border: none;
                }

                textarea {
                    width: 100%;
                    height: 150px;
                    resize: none;
                    border: none;
                    border-radius: 0.5rem;
                }
            }

            .btn {
                font-size: 1rem;
                background-color: $primary;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                width: 100%;
                padding: 0.7em;

                @include text;

                text-align: center;
            }
        }

        .button {
            width: 300px;
            padding: 0.7em;
            background-color: $primary;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            text-decoration: none;
            font-size: 1rem;

            @include text;

            text-align: center;
        }

        .hover-effect {
            transition: transform 0.5s ease; 
            text-decoration: none;

            @include text;

            text-align: center;
        }
        
        .hover-effect:hover {
            transform: scale(0.9); 
            box-shadow: 8px 8px 15px rgb(0 0 0 / 48.4%);
        }

        .button:hover {
            background-color: $dark-bg-blur;
            
            a {
                color: $primary;
            }
        }

        .btn:hover {
            background-color: $secondary;
            color: $primary;
        }
    }
}

@media (width >= 576px) {
    body {
        main {
            grid-area: main-area;
        }
    }
}

@media (width >= 768px) {
    body {
        main {
            grid-area: main-area;

            header, form, .button {
                width: min(100%, 400px);
            }
        }
    }
}

@media (width >= 992px) {
    body {
        main {
            grid-area: main-area;
            padding: 40px;

            header, form, .button {
                justify-self: flex-start;
            }
        }
    }
}

@media (width >= 1200px) {
    body {
        main {
            grid-area: main-area;
        }
    }
}