/* Süti szabályzat stílusa */
@use "reset" as *;
@use "mixin" as *;
@use "css-variables" as *;

body {
    main {
        grid-area: main-area;
        background-color: $dark-bg;
        background-image: url("../images/facial-bg-1400x1200.jpg");
        display: grid;

        @include bg-img;
        
        div {
            margin: 0 40px;
            padding: 1em;
            max-width: 400px;
            background-color: #f0ca96b8;

            a {
                text-decoration: none;

                @include text;

                &:hover {
                    text-decoration: underline;
                }
            }
            
            h1 {
                text-align: center;

                @include main-title;
            }

            h2 {
                font-size: 20px;
                text-align: center;

                @include main-title;
            }

            p {
                @include text;
            }

            ul {
                li {
                    @include text;
                }
            }
        }
    }
}

@media (width >= 576px) {
    body {
        main {
            grid-area: main-area;
        }
    }
}

@media screen and (width >= 768px) {
    body {
        main {
            grid-area: main-area;
        }
    }
}

@media screen and (width >= 992px) {
    body {
        main {
            grid-area: main-area;
        }
    }
}

@media screen and (width >= 1200px) {
    body {
        main {
            grid-area: main-area;
        }
    }
}