/*Minden kezelés oldal stílusa*/
@use "reset" as *;
@use "mixin" as *;
@use "css-variables" as *;

body {

    main {
        padding: 40px 0;
        grid-area: main-area;
        background-image: url(../images/facial-bg-1400x1400.jpg);
        @include bgImg ();
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        
        header {
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                @include mainTitle ();
            }
        }

        section {
            width: 90%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            gap: 20px;
            background-color: $darkBg;
            background-image: linear-gradient(to right, $secondary, $primary);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.405);

            h3 {
                @include mainTitle ();
                font-size: 20px;
                text-align: center;
            }

            p {
                @include text ();
                padding: 0 30px;
            }

            div {
                width: 70%;
                height: 220px;
                padding: 0 30px 20px 30px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.405);
                }
            }
        }

    }
}

@media screen and (min-width:576px) {
    body {

        section {
            div {
                width: 50%;
            }
        }
    }
}

@media screen and (min-width:768px) {
    body {

        section {

            div {
                width: 60%;
                height: 20rem;
            }
        }
    }
}

@media screen and (min-width:992px) {
    body {

        main {

            section {
                width: 90%;
                height: auto;
                display: grid;
                grid-template-columns: 1fr 2fr 1fr;
                grid-template-rows: auto;
                justify-items: center;
                background-color: $darkBg;
                background-image: linear-gradient(to right, $secondary, $primary);
    
                h3 {
                    @include mainTitle ();
                    font-size: 20px;
                    text-align: center;
                    margin-left: 30px
                }
    
                p {
                    @include text ();
                    padding: 0 30px;
                }
    
                div {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center; 
                    align-items: center;  
                    padding: 0;
    
                    img {
                        max-width: 90%;
                        height: auto;
                        display: block;
                        object-fit: contain;
                    }
                }
            }

            section:hover {
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width:1200px) {
    body {
        main {
            grid-area: main-area;
        }
    }
}